*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	box-sizing: border-box;
	outline: none;
}
.header{
    width: 50%;
    /* background-color: red; */
    background: url("./Img/1.jpg") no-repeat center/cover;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    justify-content: space-between;
}
.up{
    width: 100%;
    /* background-color: #000; */
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.down{
    width: 100%;
    height: 5%;
    /* background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.up_side{
    height: 100%;
    width: 50px;
    background-color: transparent;
}
.arrow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow>i{
    font-size: 30px;
    border-radius: 100%;
    border: 1px solid;
    padding: 5px;
    background-color: #ffffff5e;
}
.circle_div{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
}
.circle_div>i{
    font-size: 20px;
    color: #ffffffc9;
}
i, .circle{
    transition: 0.2s;
}
.arrow>i:hover{
    background-color: white;
    cursor: pointer;
}
.circle:hover{
    background-color: #ffffff52;
    cursor: pointer;

}
.circle{
    width: 26%;
    height: 83%;
    border-radius: 100%;
    border: 2px solid white;
}
.full{
    background-color: white;
}