*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	color: black;
}
li{
    background-color: #d0dcff;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 3px solid #fffec1;
    border-radius: 12px;
    -webkit-box-shadow: 9px 9px 15px 0px #102CFF;
    transition: 0.5s;
    box-shadow: 5px 4px 5px 0px #00730D69;
}
li:hover{
    cursor: pointer;
    background-color: #84a3ff;
    border: 3px solid #fffd8e;
    transform: scale(1.05);
}
ul:hover .ad{
    display: block!important;
}
ul{
    width: auto;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    display: inline-block;
}
.hidden{
    display: none;
}